header {
	height:300px;
	background-color:#517fa4;
}

body {
	line-height: 20px;
	color:#222222;
	background-color: #EDEEEF;
}

.head-img {
	margin:150px auto;
}

.notification {
	text-align: center;
	margin-top:25px;
	font-size:1.2em;
}

.input-group {
	width:450px;
	margin:0 auto;
}

.input-field {
	margin-top: 25px;
}

.btn-success {
	background-color: #517FA4;
	border-color: #517FA4;
}

.images {
	margin-top:50px;
}

img {
	cursor: pointer;
}

img:hover {
	border:1px solid #517FA4;
}

.animation.ng-enter {
	transition:.75s;
	opacity: 0;
}

.animation.ng-enter-stagger {
	transition-delay:.1s;
}

.animation.ng-enter-active {
	opacity: 1;
}